a{
    text-decoration: none;
}
button {
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}
section {
  background: url(hero-bg.png) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.scale {
  transition: 0.5s all ease;
}

.overflow-hidden:hover > .scale {
  scale: 0.9;
}

button > i {
  transition: all 0.4s ease;
}

button:hover > i {
  transform: translateX(5px);
}

.rounded {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.mark {
  transition: 0.5s all ease;
  background-color: gainsboro;
}

.rounded:hover > .mark {
  background-color: mediumblue;
  color: white;
}

.border-3 {
  transition: 0.3s all ease;
}

.border-3 > span {
  background-color: #feebd5;
  border-radius: 5px;
}

.border-3 > a {
  color: orange;
}

.border-3:hover > span {
  background-color: white;
}

.border-3:hover {
  background-color: orange;
  color: white;
}

.border-3:hover > a {
  color: white;
}

.zoom {
  transition: all 0.4s ease;
}

.zoom:hover {
  scale: 1.05;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.portfolio-wrap {
  position: relative;
}
.info {
  position: absolute;
  top: 50%;
  left: 45%;
  transition: all ease-in-out 0.3s;
  opacity: 0;
}
.portfolio-wrap:hover > .info {
  opacity: 1;
}

.portfolio-wrap::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  opacity: 0;
}
.portfolio-wrap::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  opacity: 0;
}
.portfolio-wrap:hover::before {
  top: 15px;
  left: 15px;
  opacity: 1;
}
.portfolio-wrap:hover::after {
  bottom: 15px;
  right: 15px;
  opacity: 1;
}
.clip-img::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(team-shape.svg) no-repeat center bottom;
  background-size: contain;
  /* z-index: 1; */
}
.social > a {
  display: block;
  color: slateblue;
}
.social {
  position: absolute;
  right: -25%;
  top: 7%;
  border-radius: 4px;
  font-size: 20px;
  transition: 0.5s ease;
  background: rgb(221, 219, 219, 0.7);
  z-index: 2;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.zoom:hover > .clip-img > .social {
  right: 4%;
  opacity: 1;
  transition-delay: 0.3s;
}

.rounded:hover > .hov-text > h4 {
  color: #4154f1;
}

.hov-text h4 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.rounded:hover>img{
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    scale: 1.15 ;
}
.bg-img{
    background: white url(footer-bg.png) no-repeat right top;
    background-size: contain;
}