* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
button{
  cursor: pointer;
}

/* header */
header {
  min-height: 5vh;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.navigation {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 0px; */
}
.navigation .nav-dropdown {
  display: none;
  color: #263238;
}

.logo img {
  max-width: 100%;
  /* min-width: 20%; */
  object-fit: cover;
}

nav .main-nav {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.main-nav li {
  list-style-type: none;
}

.main-nav a {
  color: rgba(31, 46, 53, 0.8);
  text-decoration: none;
}
.media {
  display: flex;
  gap: 15px;
}

.media a {
  text-decoration: none;
  color: rgba(31, 46, 53, 0.8);
}

/* main */
/* main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
} */

/* mian-details  */
main {
  min-height: 95vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  background: #fff;
  gap: 1rem;
  /* padding: 30px 0px; */
  /* margin-top: 2rem; */
}

/* .details > h1,
.details > p,
.details > button {
  margin-top: 20px;
} */
main img {
  max-width: 100%;
  object-fit: cover;
}
.details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  /* text-align: center; */
}

.details h1 {
  font-size: 48px;
  color: #1f2e35;
  /* width: 91%; */
}

.details p {
  color: #30444e;
  font-size: 20px;
}

span {
  color: #ee4248;
}

.details button {
  padding: 10px 15px;
  color: #fff;
  background-color: #ee4248;
  border: none;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

/* section  */
.about {
  width: 100%;
  background: #f4f4f4;
}
section {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 3rem;
  /* padding: 30px 0px; */
}

section img {
  max-width: 100%;
  object-fit: cover;
}

section h2 {
  width: 70%;
  font-size: 32px;
}

section p {
  font-size: 20px;
  color: #30444e;
}

.text {
  /* margin-top: 4rem; */
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* portfolio sec  */

.portfolio {
  width: 80%;
  /* height: 100vh; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.portfolio .title {
  text-align: center;
}
.projects {
  display: flex;
  gap: 15px;
  position: relative;
}
.project-name {
  width: 33%;
  /* background-image: url(coding.jpeg); */
  background: linear-gradient(
    180deg,
    rgba(35, 118, 210, 0.001) 32.39%,
    #23c4b3 90%
  );
  position: relative;
  border-radius: 4px;
  transition: all 0.5s;
}
.project-name .project-details {
  position: absolute;
  left: 5%;
  bottom: 10%;
  width: 90%;
  color: #fff;
  transition: all 0.5s;
}
.project-name img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 4px;
  transition: all 0.5s;
}
.projects .btn1 {
  padding: 15px 20px;
  position: absolute;
  bottom: -5%;
  right: -2%;
  background: linear-gradient(270deg, #3185e3 0%, #23c4b3 100%);
  color: #fff;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.project-name:hover {
  background-color: rgba(35, 196, 179, 1);
  transition: all 0.5s;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.project-name:hover > img {
  transition: all 0.5s;
  opacity: 0.4;
}
.project-name:hover > .project-details {
  left: 5%;
  bottom: 25%;
}

/* service section  */
/* .service {
   min-height: 65vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  gap: 2rem;
}

.heading > h2 {
  color: #1f2e35;
}

.content-details {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
}

.content-details p {
  color: #30444e;
}

.content-details button {
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #ee4248;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
} */

/* contact us  */

/* .contact-us {
  min-height: 40vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  gap: 2rem;
}

.contact-us .address,
.contact {
  width: 30%;
}

.contact-us .address,
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.address > address {
  color: #263238;
}

.contact > p > a {
  color: #263238;
  text-decoration: none;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */

/* company details  */

.about-company {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-top: 3rem;
}
.company-details {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 1rem;  */
}
.company-details > h5,
li,
.company-details > p {
  margin-bottom: 15px;
  list-style-type: none;
}
.sm-icons {
  display: flex;
  gap: 1rem;
}
.company-details a,
.company-details p {
  color: #4b5564;
  text-decoration: none;
}
.company-details h5 {
  color: #4b5564;
  font-size: 18px;
}

/* footer  */

footer {
  color: #fff;
  background-color: #ee4248;
  text-align: center;
}

footer p {
  padding: 15px 15px;
}

@media (max-width: 490px) {
  header {
    width: 100%;
  }
  .navigation .nav-dropdown,
  .nav-dropdown a {
    display: block;
    color: #455a64;
  }
  nav .main-nav {
    display: none;
  }
  .media {
    display: none;
  }
  .navigation,
  .main,
  section,
  .service,
  .contact-us {
    width: 90%;
    margin: auto;
  }
  main {
    /* width: 100%; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  main .details {
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .details h1 {
    font-size: 34px;
    text-align: center;
  }
  .text > h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  section {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects {
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-name > img {
    /* width: 100%; */
    height: 100%;
  }
  .projects .btn1 {
    position: static;
  }
  .project-name {
    width: 100%;
    height: 65vh;
  }
  .about-company {
    /* width: 90%; */
    /* height: 100vh; */
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .company-details{
    width: 100%;
  }

  /* .content,
  .content-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-details> p{
    text-align: center;
  }
   .contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-us .address,
  .contact,
  .companies {
    width: 100%;
  } */
}
